:root {
  --color-curtain: repeating-linear-gradient(
    -90deg,
    #a00f0f,
    #600f0f 10%,
    #a00f0f 20%,
    #600f0f 30%,
    #a00f0f 40%,
    #600f0f 50%,
    #a00f0f 60%,
    #600f0f 70%,
    #a00f0f 80%,
    #600f0f 90%,
    #a00f0f 100%,
    transparent 1px,
    transparent 2px
  );
  --color-chair: repeating-linear-gradient(
    0deg,
    #200 0%,
    #600 100%,
    transparent 1px,
    transparent 2px
  );
}

body {
  margin: 0;
  background: #111;
}

.stage {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .stage {
    margin-top: 4em;
  }
}
.frame {
  width: 100%;
  height: 480px;
  background: #ddd;
  position: relative;
  overflow: hidden;
}

.curtain {
  height: 480px;
  background: var(--color-curtain);
  position: absolute;
  top: 0;
  z-index: 1;
}
.curtain--left {
  left: 0;
  width: 50%;
}

.curtain--right {
  width: 50%;
  right: 0;
}

.chairs {
  transform: matrix3d(
    0.642407,
    0.000238614,
    0,
    0.0000132563,
    -0.218915,
    0.368998,
    0,
    -0.000658303,
    0,
    0,
    1,
    0,
    112,
    18,
    0,
    1
  );
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 2;
}

/* chair shape */
.chair {
  position: absolute;
  left: 0;
  width: 182px;
  height: 182px;
  background: var(--color-chair);

  /* top border radius */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.chair::before {
  content: "🥰";
  position: absolute;
  top: -75px;
  left: 40px;
  font-size: 96px;
  z-index: -1;
}

.chairs--first-row {
  position: absolute;
  z-index: 3;
  top: 500px;
}

.chairs--second-row {
  position: absolute;
  z-index: 4;
  top: 600px;
}

.chairs--third-row {
  position: absolute;
  z-index: 5;
  top: 700px;
}

.chairs--fourth-row {
  position: absolute;
  z-index: 6;
  top: 800px;
}

.chair--second {
  left: 190px;
}

.chair--third {
  left: 380px;
}

.chair--fourth {
  left: 570px;
}
