@font-face {
  font-family: "RubikMoonrocks-Regular";
  src: url("../fonts/RubikMoonrocks-Regular.ttf");
}

:root {
  --color-curtain: repeating-linear-gradient(
    -90deg,
    #a00f0f,
    #600f0f 10%,
    #a00f0f 20%,

    transparent 1px,
    transparent 2px
  );
  --color-chair: repeating-linear-gradient(
    0deg,
    #200 0%,
    #600 100%,
    transparent 1px,
    transparent 2px
  );
}

body {
  margin: 0;
  background: #111;
  overflow-x: hidden;
  font-family: RubikMoonrocks-Regular, Verdana, Geneva, Tahoma, sans-serif;
}

audio {
  display: block;
  margin: 0.5em auto 0;
}

.stage {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .stage {
    margin-top: 1.5em;
  }
}

.frame {
  width: 100%;
  height: 480px;
  /* sky gradient */
  background: linear-gradient(to bottom, #65fcfc 0%, #fac792 100%);
  position: relative;
  overflow: hidden;
}

.dancer-container {
  position: absolute;
  top: 200px;
  left: -256px;
  width: 256px;
  height: 256px;
  animation: move-dancer-container ease-in-out 7s 1 3s forwards,
    rotate-dancer-container ease-in-out 2s 2 10s,
    jump-dancer-container ease-in-out 2s 1 12s,
    move-left-dancer-container ease-in-out 0.5s 1 14s,
    idle-dancer-container ease-in-out 3s infinite 14.5s;
  animation-play-state: paused;
}

@keyframes move-dancer-container {
  0% {
    left: -256px;
    transform: rotateY(0deg);
  }
  59% {
    left: calc(100% + 256px);
    transform: rotateY(0deg);
  }
  60% {
    left: calc(100% + 256px);
    transform: rotateY(180deg);
  }
  99% {
    left: calc(50% - 128px);
    transform: rotateY(180deg);
  }
  100% {
    left: calc(50% - 128px);
    transform: rotateY(180deg);
  }
}

@keyframes rotate-dancer-container {
  from {
    transform: rotateY(180deg);
  }
  33% {
    transform: rotateY(0deg);
  }
  66% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes jump-dancer-container {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-128px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move-left-dancer-container {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-128px);
  }
}

@keyframes idle-dancer-container {
  0% {
    transform: translateX(-128px);
  }
  50% {
    transform: translateX(128px);
  }
  100% {
    transform: translateX(-128px);
  }
}

.dancer {
  position: relative;
}

.ballet-animation {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: calc(50% - 64px);
  width: 128px;
  height: 256px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.buppo {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: calc(50% - 25px);
  width: 20%;
  aspect-ratio: 1 / 1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.floor {
  transform: matrix3d(
    1.2,
    0,
    0,
    0,
    0,
    0.368998,
    0,
    -0.001,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    1
  );
  background: repeating-linear-gradient(-90deg, #807031, #c69952 5%);
  width: 100%;
  height: 320px;
  position: absolute;
  top: 280px;
}

.buppon {
  border: 5px dashed white;
  color: white;
  width: 360px;
  height: 200px;
  background: black;
  background-size: cover;
  background-image: url("buppo-head.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 20px 0 -10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -240px;
  left: calc(50% - 180px);
  z-index: 1;
  transform: rotate(2.5deg);
  animation: slide-buppon-down ease-out 5s 15s forwards;
}

@keyframes slide-buppon-down {
  0% {
    top: -240px;
  }
  100% {
    top: 20px;
  }
}

.buppon::before {
  content: "";
  position: absolute;
  top: -25px;
  left: calc(50% - 2.5px);
  width: 5px;
  height: 20px;
  transform: rotate(-2.5deg);
  background: repeating-linear-gradient(
    to bottom,
    rgb(81, 50, 10),
    rgb(173, 113, 0) 20%
  );
  z-index: -1;
}

.buppon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.buppon h1,
.buppon h2 {
  padding: 0.25em;
  margin: 0;
}

.curtain {
  height: 480px;
  background: var(--color-curtain);
  position: absolute;
  top: 0;
  z-index: 1;
}

.curtain--left {
  left: 0;
  width: 50%;
  animation: slideLeft linear 3s 3s 1 forwards;
  animation-play-state: paused;
}

/* animation to slide curtain 100% to the left */
@keyframes slideLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    transform: skewX(-10deg);
    box-shadow: 50px 0px 0 0px rgba(0, 0, 0, 0.3);
  }
}

.curtain--right {
  width: 50%;
  right: 0;
  animation-play-state: paused;
  animation: slideRight linear 3s 3s 1 forwards;
  animation-play-state: paused;
}

/* animation to slide curtain 100% to the right */
@keyframes slideRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
    transform: skewX(10deg);
    box-shadow: -50px 0px 0 0px rgba(0, 0, 0, 0.3);
  }
}

.chairs {
  transform: matrix3d(0.9, 0, 0, 0, 0, 0.7, 0, -0.0005, 0, 0, 1, 0, 0, 0, 0, 1);
  width: 100%;
  height: 320px;
  top: 0;
  position: absolute;
  z-index: 2;
}

/* chair shape */
.chair {
  position: absolute;
  left: 0;
  width: 182px;
  height: 182px;
  background: var(--color-chair);

  /* top border radius */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.chair:before {
  content: var(--content, "lolz");
  position: absolute;
  top: -75px;
  left: 40px;
  font-size: 96px;
  z-index: -1;
}

.chairs--first-row {
  position: absolute;
  z-index: 3;
  top: 500px;
}

.chairs--second-row {
  position: absolute;
  z-index: 4;
  top: 600px;
}

.chairs--third-row {
  position: absolute;
  z-index: 5;
  top: 700px;
}

.chairs--fourth-row {
  position: absolute;
  z-index: 6;
  top: 800px;
}

.chair--second {
  left: 190px;
}

.chair--third {
  left: 380px;
}

.chair--fourth {
  left: 570px;
}
